[Unit]
Description=unit for the client data
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm --force payments-client
ExecStartPre=/usr/bin/docker pull euank/wobscale-payments-client
ExecStart=/usr/bin/docker run --name payments-client \
    --net=wobscale-payments \
    -e ENV_ENVIRONMENT=prod \
    -e ENV_API_URL=https://paypi.wobscale.website \
    --env-file=/var/config/payments.env \
    euank/wobscale-payments-client
ExecStop=/usr/bin/docker kill payments-client
