[Unit]
Description=unit for the nginx server, listens on 443/80
After=docker.service payments-ssl.service payment-client.service payment-server.service
Requires=docker.service payments-ssl.service payment-client.service payment-server.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm --force payments-nginx
ExecStartPre=/usr/bin/docker pull euank/wobscale-payments-nginx
ExecStart=/usr/bin/docker run --name payments-nginx \
    --net=wobscale-payments \
    -p 443:443 \
    -p 80:80 \
    -e ENV_API_PORT=443 -e ENV_WEB_PORT=443 \
    -e ENV_API_NAME=paypi.wobscale.website \
    -e ENV_WEB_NAME=pay.wobscale.website \
    -e ENV_CLIENT_NAME=payments-client \
    -e ENV_SERVER_NAME=payments-server \
    -v /var/certs/payments/certs:/certs \
    euank/wobscale-payments-nginx
ExecStop=/usr/bin/docker kill payments-nginx
Restart=always
