[Unit]
Description=Unit for getting lets encrypt cerst for payments
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm --force payments-certs
ExecStartPre=/usr/bin/docker pull euank/r53-lets-encrypt
ExecStart=/usr/bin/docker run --name payments-certs \
          -e LE_EMAIL=admin@wobscale.website \
          -e DOMAINS="pay.wobscale.website paypi.wobscale.website" \
          -v /var/certs/payments/all/:/le/certs/ \
          -v /var/certs/payments/certs/:/certs \
          -v /var/certs/payments/secret/:/le-secrets \
          euank/r53-lets-encrypt
ExecStop=/usr/bin/docker kill payments-certs
