[Unit]
Description=unit for the test server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker network create test-wobscale-payments
ExecStartPre=-/usr/bin/docker rm --force test-payments-server
ExecStartPre=/usr/bin/docker pull euank/wobscale-payments-server
ExecStart=/usr/bin/docker run --name test-payments-server \
    --net=test-wobscale-payments \
    -e ENV_ENVIRONMENT=test \
    -e CORS_ALLOW_ORIGIN="https://pay.test.wobscale.website:10443" \
    --env-file=/var/config/test-payments.env \
    euank/wobscale-payments-server
ExecStop=/usr/bin/docker kill test-payments-server
