[Unit]
Description=unit for the test client data
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker network create test-wobscale-payments
ExecStartPre=-/usr/bin/docker rm --force test-payments-client
ExecStartPre=/usr/bin/docker pull euank/wobscale-payments-client
ExecStart=/usr/bin/docker run --name test-payments-client \
    --net=test-wobscale-payments \
    -e ENV_ENVIRONMENT=test \
    -e ENV_API_URL=https://paypi.test.wobscale.website:10443 \
    --env-file=/var/config/test-payments.env \
    euank/wobscale-payments-client
ExecStop=/usr/bin/docker kill test-payments-client
